<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
</head>
<body>
{% extends 'layout.html' %}
{% block content %}
<h3>添加服务器</h3>
<form method="post" action="/myapp/create/">
    <p>所属用户： <input  type="text" value="所属用户" name="title" /></p>
    <p>服务器IP地址： <input  type="text" value="服务器IP地址" name="serverip" /></p>
    <p>服务器状态： <input  type="text" value="服务器类型" name="stype" /></p>

       <p><input  type="submit" class="btn btn-primary" value="添加服务器" /> </p>
</form>
{% endblock %}
</body>
</html>