<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
{% extends 'layout.html' %}
{% block content %}
<h3>修改服务器</h3>
<form method="post" action="/myapp/edit/{{ gitem.id }}">
     <p>修改所属用户：<input type="text" value="{{ gitem.title }}"  name="titlenew" /></p>
     <p>修改服务器IP：<input type="text" value="{{ gitem.serverip }}"  name="ipnew" /></p>
     <p>修改服务器类型：<input type="text" value="{{ gitem.servertype }}"  name="typenew" /></p>
                <p> <input type="submit" class="btn btn-primary" value="修改服务器" /></p>
</form>
{% endblock %}
</body>
</html>