<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap3/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/plugins/bootstrap3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/plugins/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/plugins/fontawesome/css/font-awesome.min.css" />

</head>
<body>
{% extends 'layout.html'%}
{% block content %}


<h3 style="text-align: center">服务器列表</h3>
<div style="margin: 0px 0px 20px;">
<a href="/myapp/create/" ><input  type="button"  class="btn btn-primary" name="addgroup" value="添加服务器"/></a>
</div>
    <table   class="table table-hover">
    <tr>
        <td>所属用户</td>
        <td>服务器IP地址</td>
        <td>服务器类型</td>
        <td>操作</td>
    </tr>
{% for item in group_list %}
    <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.serverip }}</td>
        <td>{{ item.servertype }}</td>

        <td><a   href="/myapp/edit/{{ item.id }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 编辑</a> |
            <a   href="/myapp/del/{{ item.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i> 删除 </a> </td>
    </tr>
{% endfor %}

</table>

{% endblock %}
</body>
</html>