<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>layout</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap3/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/plugins/bootstrap3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/plugins/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/plugins/fontawesome/css/font-awesome.min.css" />

    <style type="text/css">
        body{
            margin:0 auto;
        }
        .pg-header{
            height:60px;
            min-width:900px;
            background-color:midnightblue;
            line-height: 60px;

        }
        .pg-header .title{
            color:white;
            font-size:18px;
            width: 200px;
            text-align: center;
            border-right: 1px solid #ccc;
            float: left;

        }
        .pg-header .logo{
            float:right;
            padding: 5px 10px;
            border-radius: 50%;
            color: #ccc;
        }

        .pg-left{
            padding-top: 30px;
            width:200px;
            position: absolute;
            top:60px;
            left:0px;
            height: 600px;
            background-color: #ccc;
        }

        .pg-left a{
            display: block;
            padding: 10px 5px;
            width: 200px;
            text-align: center;
            border-bottom: 1px solid #cbb;
        }

        .pg-right{
            margin: 0 20px;
            position: absolute;
            left:200px;
            top:60px;
            right:0px;
            bottom:0px;
            min-width:800px;
        }
    </style>

</head>
<body>
<div class="pg-header">
    <div class="title">资产管理系统</div>
    <div class="logo">
        <img  class="logo" style="width:50px;height:50px;" src="/static/img/logo.jpg" /><a><i class="fa fa-user-o" aria-hidden="true"></i> 用户</a>
    </div>
</div>
<div class="pg-body">
    <div class="pg-left">
        <a><i class="fa fa-server fa-2x" aria-hidden="true" ></i> 服务器管理</a></li>
        <a><i class="fa fa-cog fa-2x" aria-hidden="true"></i> 路由器管理</a>
        <a><i class="fa fa-sitemap fa-2x" aria-hidden="true"></i> 交换机管理</a>
        <a><i class="fa fa-umbrella fa-2x" aria-hidden="true"></i> 防火墙管理</a>
        <a><i class="fa fa-life-ring fa-2x" aria-hidden="true"></i> 配电房管理</a>
    </div>
    <div class="pg-right">

    {% block content %}
    {% endblock %}
    </div>
</div>
</body>
</html>