<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoginPage</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap3/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/plugins/bootstrap3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/plugins/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/plugins/fontawesome/css/font-awesome.min.css" />

</head>
<body style="background-color:#8c8c8c; ">
<div style="text-align: center;padding-top: 150px;">
<h2>用户登录</h2>
      <form  method="post" action="/myapp/login/">
          <p><input  type="text" value="root" name="user" /></p>
          <p><input  type="password" value="123"  name="pwd"/></p>
          <p><input  type="submit" value="提  交" class="btn btn-primary" />
          <input  type="button" value="取  消" class="btn btn-default" /></p>
          {{ msg }}
      </form>
</div>
</body>
</html>